@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=IBM+Plex+Sans:wght@300;500;600;700&display=swap');
*{
  margin: 0;
}
body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#fafafa;
  /* overflow: hidden; */
  background:url("./assets/images/bg-profile.png")
}
html ,a,span,p,h6{
  font-family: 'IBM Plex Sans', sans-serif !important ;
  
}



